/* Estilo Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    text-decoration: none;
}

/* Fim Estilo Global */

/* Seção Topo */
.container-topo {
    background-color: white;
    padding: 35px 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.container-logo {
    max-width: 285px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-links {
    max-width: 385px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.container-links a {
    color: #233032;
    font-weight: 600;
}

.container-logo-imagem {
    width: 100%;
    height: 100%;
}

.container-logo-imagem img {
    width: 100%;
    height: 100%;
}

.container-logo p {
    font-size: 12px;
    color: #2f86d6;
    font-weight: 600;
}



/* Seção Banner */
.secao-banner {
    background-color: #2f86d6;
    padding: 50px 0;
}

.container-banner {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.texto-banner {
    color: #fff;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    flex: 1 1 300px;
}

.imagem-banner {
    flex: 1 1 468px;
}

.imagem-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* Seção Anúncios */
.secao-anuncio1, .secao-anuncio2 {
    padding: 40px 0;
    margin: 0 auto;
}

.container-anuncio {
    width: 100%;
    max-width: 1024px;
    display: flex;
    
}
.chamada-anuncio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    flex: 1 1 600px;
}

.botao-anuncio1, .botao-anuncio2 {

}

.secao-anuncio1 {
    background-color: #233032;
}

.secao-anuncio1 .chamada-anuncio h3 {
    font-size: 24px;
    color: #fff;
}

.secao-anuncio1 .chamada-anuncio p {
    font-size: 18px;
    color: #fff;
}

.botao-anuncio1 {
    background-color: #2f86d6;
    padding: 10px;
    border-radius: 4px;
}

.botao-anuncio1 img {
    width: 22px;
}

.botao-anuncio1 a {
    font-weight: bold;
    font-size: 18px;
    color: #fff;
}

.secao-anuncio2 {
    background-color: #2f86d6;
}

.botao-anuncio2 {
    position: absolute;
    right: 0;
    background-color: #233032;
    padding: 10px;
    border-radius: 4px;
}

.botao-anuncio2 a {
    font-weight: bold;
    font-size: 18px;
    color: #fff;
}

.secao-anuncio2 .chamada-anuncio h3 {
    font-size: 18px;
    color: #fff;
}






















/* Seção Informações */
.secao-informacoes {
    color: #000000;
    background-color: #fff;
    padding: 100px 0;
}

.teste-informacoes {
    position: relative;
    width: 1024px;
    margin: 0 auto;
}

.secao-informacoes h2 {
    text-align: center;
    margin: 0 auto 70px;
    width: 900px;
    font-size: 32px;
}

.secao-informacoes h2 span {
    color: #2f86d6;
}

.teste table {
    text-align: center;
    margin: 0 auto;
    width: 33%;
}

.secao-informacoes table h3 {
    font-size: 18px;
    margin: 20px auto;
}

.secao-informacoes table td {
    text-align: center;
    font-size: 16px;
}

.secao-informacoes th img {
    width: 150px;
}




/* Seção Planos */
.secao-planos {
    color: #000000;
    background-color: #f1f3f7;
    padding: 100px 0;
}

.teste-planos {
    width: 1024px;
    margin: 0 auto;
}

.secao-planos h2 {
    text-align: center;
    margin: 0 auto 10%;
    font-size: 32px;
}

.secao-planos table {
    border-collapse: collapse;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0 0 40px 10px #2f86d6;
}

.secao-planos table h3 {
    font-size: 18px;
}

.secao-planos th p {
    font-weight: 500;
    text-align: center;
    font-size: 16px;
    color: #a89f9f;
}

.tabela-planos tr th {
    padding: 30px 40px;
    border: 3px solid #f1f3f7;
}

.tabela-planos tr td {
    padding: 30px 40px;
    border: 3px solid #f1f3f7;
}

.secao-planos table .linha-impar {
    font-weight: 500;
    font-size: 16px;
    background-color: #f6f6f6;
}

.secao-planos table .linha-par {
    font-weight: 500;
    font-size: 16px;
    background-color: #fff;
}

.secao-planos img {
    margin: 15px auto;
    text-align: center;
    width: 150px;
}

.secao-planos thead {
    background-color: #fff;
}




/* Seção Rodapé */
.secao-rodape {
    padding: 100px 0;
    height: 200px;
}

.faixa-rodape {
    max-width: 1024px;
    margin: 0 auto;
}

.logo-rodape {
    display: flex;
    width: 320px;
    position: relative;
    margin: 0px auto 50px;
}

.logo-rodape img {
    width: 80px;
}

.logo-rodape .texto-logo-rodape {
    position: absolute;
    left: 95px;
    top: 0;
    padding: 2px;
}

.texto-logo-rodape p {
    color: #2f86d6;
    font-weight: 500;
}

.texto-rodape {
    font-weight: 500;
    line-height: 35px;
    text-align: center;
    margin: 0 auto 50px;
}

.final-rodape {
    height: 50px;
    text-align: center;
    margin: 0 auto;
    background-color: #f6f6f6;
    padding: 12px;
    font-weight: 500;
}

.final-rodape a {
    color: #2f86d6;
    font-weight: 500;
}